@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    header {
        @apply w-full max-w-5xl mx-auto flex items-center justify-between pt-8 lg:pt-12 py-4;
    }

    main {
        @apply flex flex-col justify-center items-center flex-1;
    }

    footer {
        @apply mt-auto text-center pt-4 pb-8;
    }
}
@layer components {
    .answer-input {
        @apply bg-white-400 dark:bg-dark-blue-400 w-full rounded-md p-4 mt-2 mb-3 text-center outline-none;
    }

    .btn {
        @apply w-1/2 py-2 rounded-md;
    }

    .btn--blue {
        @apply bg-blue-300 hover:bg-blue-400 text-white-300;
    }

    .btn--dark-blue {
        @apply bg-dark-blue-300 hover:bg-dark-blue-400 dark:bg-white-300 dark:hover:bg-white-400 text-white-300 dark:text-dark-blue-400;
    }

    .modal {
        @apply w-[85%] max-w-lg mx-auto bg-white-300 dark:bg-dark-blue-300 p-6 rounded-md fade-in;
    }

    .voice-player {
        @apply flex justify-center items-center bg-blue-300 w-28 h-28 lg:h-32 lg:w-32 rounded-full mt-6 mb-8 text-white-400;
    }
}

@layer utilities {
    .btn-wrapper {
        @apply w-full max-w-lg flex space-x-3;
    }

    .backdrop {
        @apply fixed z-10 inset-0 overflow-y-auto bg-black bg-opacity-50 flex justify-center items-center;
    }
}

#root {
    @apply bg-white-300 dark:bg-dark-blue-300;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s;
}
